main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
  text-align: center;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.hero p {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hero picture {
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
}

.hero > div:nth-child(1), 
.hero > div:nth-child(2) {
  position: relative;
  padding: 100px;

}


