footer {
  padding: 2rem;
  background-color: #000000;
  font-size: var(--body-font-size-s);
  color: var(--light-color);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 16px;
  color: #5d5d5d;
}
